.formBoxes {
  display: block;
  margin: 1rem 0;
  border: 1px solid #606060;
  text-align: center;
}
.mainButton {
  padding: 0.5rem;
  border-radius: 2rem;
  background-color: #E17F93;
  border: #E17F93;
  display: block;
  text-align: center;
  width: 12rem;
  color: white;
  text-decoration: none;
  margin: 0 auto;
}
.mainButtonHover {
  background-color: white;
  color: #E17F93;
  border: 1px solid #E17F93;
}
.linkStyle {
  color: #606060;
  text-decoration: none;
}
.linkHover {
  color: #E17F93;
}
.addButton {
  width: 15%;
  padding: 1rem;
  border-radius: 3rem;
  margin: 1rem auto;
  text-align: center;
}
* {
  box-sizing: border-box;
}
body {
  margin: 0;
}
h1 {
  font-size: 3rem;
}
h3 {
  font-size: 1.8rem;
}
h2 {
  font-size: 2.3rem;
}
h4 {
  font-size: 1.3rem;
  margin-bottom: 1rem;
}
.container {
  margin: 0 auto;
  height: 100vh;
  box-sizing: border-box;
}
.cover {
  height: 100vh;
  width: 100vw;
  min-width: 100%;
  min-height: 100%;
  position: relative;
}
.cover::before {
  background-image: url('/assets/images/background-image.jpg');
  background-size: cover;
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
  opacity: 0.4;
}
.site-header {
  border-bottom: 1px solid #606060;
  padding: 1rem 2rem;
}
.sign-up-page {
  padding-top: 10rem;
}
.sign-up-page-header {
  text-align: center;
  padding-top: 2rem;
  box-shadow: 2rem;
}
.sign-up-form {
  background-color: white;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  width: 50%;
  margin: 5rem auto 2rem auto;
}
.sign-up-form input {
  border: 1px solid #606060;
}
.sign-up-form input[type="text"],
.sign-up-form input[type="email"],
.sign-up-form input[type="submit"] {
  display: block;
  margin: 1rem 0;
  border: 1px solid #606060;
  text-align: center;
  width: 18rem;
}
.sign-up-form input[type="password"] {
  margin-left: 1.5rem;
}
.sign-up-form input[type="username"],
.sign-up-form input[type="password"] {
  margin-bottom: 1rem;
}
.sign-up-form form a {
  padding: 0.5rem;
  border-radius: 2rem;
  background-color: #E17F93;
  border: #E17F93;
  display: block;
  text-align: center;
  width: 12rem;
  color: white;
  text-decoration: none;
  margin: 0 auto;
  margin-left: 3rem;
}
.sign-up-form form a:hover {
  background-color: white;
  color: #E17F93;
  border: 1px solid #E17F93;
}
.login-button {
  width: 100%;
  display: flex;
  justify-content: center;
}
.login-button a {
  background-color: #fff;
  border-radius: 2rem;
  width: 10%;
  padding: 0.5rem 2rem;
  margin: 0 auto;
  text-align: center;
  color: #E17F93;
}
.login-button a:hover {
  background-color: #E17F93;
  color: white;
}
/* log-in page */
.log-in-page {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row-reverse;
}
.log-in-page .log-in-page-image {
  width: 30%;
}
.log-in-page .log-in-page-image img {
  width: 100%;
}
.log-in-page .log-in-form {
  width: 40%;
  border: 1px solid #606060;
  border-radius: 2rem;
  margin: 2rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 2rem;
}
.log-in-page .log-in-form input[type="text"],
.log-in-page .log-in-form input[type="password"] {
  display: block;
  margin: 1rem 0;
  border: 1px solid #606060;
  width: 10rem;
  text-align: center;
  margin: 1rem;
}
.log-in-page .log-in-form input[type="submit"] {
  width: 10rem;
  padding: 0.5rem;
  border-radius: 2rem;
  background-color: #E17F93;
  border: #E17F93;
  text-align: center;
  width: 12rem;
  color: white;
  text-decoration: none;
  margin: 0 auto;
  display: block;
  margin-left: 1.2rem;
  margin-bottom: 1rem;
}
.log-in-page .log-in-form .button {
  padding: 0.5rem;
  border-radius: 2rem;
  background-color: #E17F93;
  border: #E17F93;
  display: block;
  text-align: center;
  width: 12rem;
  color: white;
  text-decoration: none;
  margin: 0 auto;
  margin-bottom: 1rem;
  width: 8rem;
  margin-left: 2rem;
}
.log-in-page .log-in-form .button:hover {
  background-color: white;
  color: #E17F93;
  border: 1px solid #E17F93;
}
.log-in-page .log-in-form a {
  color: #606060;
  text-decoration: none;
}
.log-in-page .log-in-form a:hover {
  color: #E17F93;
}
.log-in-page .log-in-form hr {
  margin: 1rem 0;
}
/* Forgot Password */
.forgot-password-form {
  border: 1px solid #606060;
  margin: 8% auto;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  border-radius: 2rem;
}
.forgot-password-form .forgot-password-image {
  width: 8rem;
  height: 8rem;
  margin: 1rem;
}
.forgot-password-form .forgot-password-image img {
  width: 100%;
  height: 100%;
}
.forgot-password-form input[type="text"] {
  display: block;
  margin: 1rem 0;
  border: 1px solid #606060;
  text-align: center;
  width: 12rem;
}
.forgot-password-form form {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.forgot-password-form form input[type="submit"] {
  padding: 0.5rem;
  border-radius: 2rem;
  background-color: #E17F93;
  border: #E17F93;
  display: block;
  text-align: center;
  width: 12rem;
  color: white;
  text-decoration: none;
  margin: 0 auto;
  padding: 0.5rem 1rem;
}
.forgot-password-form form a {
  color: #606060;
  text-decoration: none;
}
.forgot-password-form form a:hover {
  color: #E17F93;
}
.forgot-password-form form hr {
  width: 100%;
  margin: 1rem;
}
.forgot-password-form .button {
  padding: 0.5rem;
  border-radius: 2rem;
  background-color: #E17F93;
  border: #E17F93;
  display: block;
  text-align: center;
  width: 12rem;
  color: white;
  text-decoration: none;
  margin: 0 auto;
}
.forgot-password-form .button:hover {
  background-color: white;
  color: #E17F93;
  border: 1px solid #E17F93;
}
/* Success */
.success-page {
  width: 50%;
  margin: 8% auto;
  text-align: center;
}
.success-page h1 {
  margin-bottom: 5rem;
  font-size: 5rem;
}
.success-page a {
  border: 1px solid #E17F93;
  border-radius: 2rem;
  color: white;
  background-color: #E17F93;
  padding: 1rem 5rem;
}
.success-page a:hover {
  background-color: white;
  color: #E17F93;
  border: 1px solid #E17F93;
}
/*profile */
.site-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  background-color: #E17F93;
}
.site-header header {
  width: 30%;
}
.site-header header a {
  color: #fff;
  text-decoration: none;
}
.site-header nav {
  width: 60%;
}
.page-nav ul li {
  width: 30%;
}
.page-nav .friend {
  padding: 0.5rem 4rem 0.5rem 0;
  background-color: white;
}
.page-nav .friend span {
  margin-left: 2rem;
  color: #606060;
}
.page-nav .friend img {
  width: 1rem;
  margin: 0 1rem;
}
.profile-body {
  max-width: 95%;
  margin: 8% auto;
  display: flex;
  justify-content: space-evenly;
}
.bio {
  width: 30%;
  text-align: center;
}
.bio .profile-image {
  background: linear-gradient(red, orange, purple);
  width: 10rem;
  height: 10rem;
  margin: 2rem auto;
  border-radius: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bio .profile-image img {
  border: 3px solid white;
  width: 95%;
  height: 95%;
  border-radius: 6rem;
}
.bio h4,
.bio p {
  text-align: center;
}
.bio p {
  margin: 1rem;
}
.passports {
  width: 50%;
  text-align: center;
}
.passports .stats {
  margin-top: 2rem;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
.passports ul li {
  border: 1px solid #E17F93;
  margin: 2rem;
  padding: 1.5rem;
  text-align: left;
}
.passports ul li img {
  width: 1rem;
  margin-right: 3rem;
}
.passports ul li a {
  color: black;
  text-decoration: none;
}
.passports ul li a:hover {
  color: #E17F93;
}
.add-passport {
  width: 15%;
  padding: 1rem;
  border-radius: 3rem;
  margin: 1rem auto;
  text-align: center;
}
.add-passport img {
  width: 100%;
}
/* location-lagos */
.passport-body-header {
  border: 1px solid #E17F93;
  text-align: center;
  margin: 1rem auto;
  padding: 1rem;
  width: 40%;
}
.passport-body {
  margin: 8% auto;
  margin-top: 5%;
}
.passport-body .passport-body-content {
  margin: 3rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}
.passport-body .passport-body-content .restaurant-name {
  width: 40%;
  font-size: 2rem;
  text-align: center;
}
.passport-body .passport-body-content .restaurant-name a {
  color: black;
  text-decoration: none;
}
.passport-body .passport-body-content .restaurant-name a:hover {
  color: #E17F93;
}
.passport-body .passport-body-content .visit-badge,
.passport-body .passport-body-content .save-badge,
.passport-body .passport-body-content .review-badge,
.passport-body .passport-body-content .delete-badge {
  width: 10%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.passport-body .passport-body-content .visit-badge img,
.passport-body .passport-body-content .save-badge img,
.passport-body .passport-body-content .review-badge img,
.passport-body .passport-body-content .delete-badge img {
  width: 60%;
}
.add-restaurant {
  width: 15%;
  padding: 1rem;
  border-radius: 3rem;
  margin: 1rem auto;
  text-align: center;
}
.add-restaurant img {
  width: 50%;
}
/*Cactus Page */
.restaurant-page-header {
  margin: 8% auto;
  margin-bottom: 3%;
  width: 70%;
  text-align: center;
}
.restaurant-body {
  border: 1px solid #E17F93;
  display: flex;
  width: 70%;
  margin: 5rem auto;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 2rem;
}
.restaurant-body h3 {
  margin-bottom: 1rem;
  text-align: center;
}
.restaurant-body .restaurant-bio {
  width: 40%;
}
.restaurant-body .restaurant-menu {
  width: 50%;
  padding: 2rem 8rem;
}
/* New Passport */
.new-passport-body {
  width: 80%;
  margin: 8% auto;
  text-align: center;
}
.new-passport-body .new-passport-form {
  margin: 3rem auto;
  width: 80%;
  border: 1px solid #E17F93;
  padding: 2rem;
  border-radius: 2rem;
}
.new-passport-body .new-passport-form .restaurant {
  width: 50%;
  margin: 0 auto;
}
.new-passport-body .new-passport-form .restaurantChoice {
  border: 1px solid #E17F93;
  border-radius: 2rem;
  width: 80%;
  margin: 2rem auto;
  padding: 1rem;
}
.new-passport-body .new-passport-form .button {
  padding: 0.5rem;
  border-radius: 2rem;
  background-color: #E17F93;
  border: #E17F93;
  display: block;
  text-align: center;
  width: 12rem;
  color: white;
  text-decoration: none;
  margin: 0 auto;
  margin-bottom: 1rem;
  width: 8rem;
  margin: 1rem auto;
}
.new-passport-body .new-passport-form .button:hover {
  background-color: white;
  color: #E17F93;
  border: 1px solid #E17F93;
}
.questions label {
  display: block;
  color: #606060;
}
/* New restaurant */
.new-restaurant-form {
  margin: 4rem auto;
  width: 50%;
  text-align: left;
  border: 1px solid #E17F93;
  border-radius: 2rem;
}
.new-restaurant-form label[for="restaurantChoice"] h4 {
  margin: 2rem 1rem;
}
.new-restaurant-form .restaurant {
  width: 40%;
  margin: 0 auto;
  padding: 0.5rem 0;
}
.new-restaurant-form .restaurant a {
  color: #606060;
  text-decoration: none;
  color: black;
}
.new-restaurant-form .restaurant a:hover {
  color: #E17F93;
}
.new-restaurant-form .button {
  padding: 0.5rem;
  border-radius: 2rem;
  background-color: #E17F93;
  border: #E17F93;
  display: block;
  text-align: center;
  width: 12rem;
  color: white;
  text-decoration: none;
  margin: 0 auto;
  margin-bottom: 1rem;
  width: 8rem;
  margin: 1rem auto;
}
.new-restaurant-form .button:hover {
  background-color: white;
  color: #E17F93;
  border: 1px solid #E17F93;
}
/*review */
.restaurant-review {
  padding: 2rem;
}
.restaurant-review .questions {
  width: 80%;
  text-align: center;
  margin: 1rem auto;
  padding: 1rem;
}
.restaurant-review .questions label {
  margin: 1rem;
}
.restaurant-review .review {
  width: 50%;
}
.restaurant-review .button {
  padding: 0.5rem;
  border-radius: 2rem;
  background-color: #E17F93;
  border: #E17F93;
  display: block;
  text-align: center;
  width: 12rem;
  color: white;
  text-decoration: none;
  margin: 0 auto;
  margin: 3rem auto;
  width: 8rem;
}
.restaurant-review .button:hover {
  background-color: white;
  color: #E17F93;
  border: 1px solid #E17F93;
}
.restaurant-review .answer {
  width: 80%;
  text-align: center;
  margin: 0 auto;
  padding: 1rem;
}
.restaurant-review .answer h5 {
  color: #606060;
}
.restaurant-review .answer p {
  border: 1px solid #E17F93;
  border-radius: 2rem;
  padding: 1rem;
  width: 80%;
  margin: 1rem auto;
}
.page-nav {
  width: 60%;
  text-align: right;
}
.page-nav ul li {
  display: inline;
  margin-left: 5rem;
  color: #606060;
}
.page-nav ul li.search {
  padding: 1rem 0 1rem 3rem;
  background-color: white;
}
.page-nav ul li.search a {
  margin-left: 2rem;
  padding: 1rem 1rem 1rem 1rem;
}
.page-nav ul li.search a img {
  width: 1rem;
}
.page-nav ul li a {
  color: #fff;
}
