
*{
    box-sizing: border-box;
}

body{
    margin: 0;
}

.container{
    margin: 0 auto;
    height: 100vh;
    box-sizing: border-box;
    // border: 1px solid red;

    // &.homepage{
    //     background-image: url('https://i.pinimg.com/564x/a2/0a/95/a20a9532fe6ebd96e4893058587a3771.jpg');
    //     background-repeat: no-repeat;
    //     background-size: 100%;
    //     // opacity:0.5;
    //     }
}

header{
    border-bottom: 1px solid @accentColor;
    padding: 0rem 2rem;
}

.sign-up-page{

    padding-top: 10rem;
   
}

.sign-up-page-header{
    text-align: center;
    padding-top:2rem;
    box-shadow: 2rem;
    
}

.sign-up-form{
    border: 2px solid white;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    background-color: white;
    width: 50%;
    margin: 5rem auto 0 auto;
   
}



.sign-up-form input{
    border: 1px solid @accentColor;

    &[type="text"],&[type="email"], &[type="submit"]{
        .formBoxes;
        width: 18rem;
        
    }

    &[type ="password"]{
        margin-left: 1.5rem;
    }

    &[type ="username"], &[type ="password"]{
        margin-bottom: 1rem;
    }


    }

  .sign-up-form form a{
      display: block;
      text-align: center;
     width: 12rem;
     margin-left: 3rem;
    .mainButton;
    color: white;
    text-decoration: none;

    &:hover{
    background-color: white;
    color:@navigationBackgroundColor;
    }
}

.login-button{
    width: 100%;
    display: flex;
    justify-content: center;
}

.login-button a{
    background-color: white;
    border-radius: 2rem;
    width: 10%;
    padding: 0.5rem 2rem;
    margin: 0 auto;
    text-align: center;
    color: @navigationBackgroundColor;

    &:hover{
        background-color: @navigationBackgroundColor;
        color: white;
    }

}


/* log-in page */

.log-in-page{
    max-width: 900px;
    margin: @pageContainerAlingment;
    display: flex;
    justify-content: space-evenly;

    .log-in-page-image{
        width: 40%;
        img{
            width: 100%;
        }
    }

    .log-in-form{
        width: 40%;
        border: 1px solid @accentColor;
        border-radius: 2rem;
        margin: 2rem 0;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;

        input[type ="text"], input[type ="password"]{
            .formBoxes;
            width: 10rem;
            text-align: center;
            margin: 1rem;
        }

        input[type ="submit"]{
            width: 10rem;
            .mainButton;
            display: block;
            margin-left: 1.2rem;
            margin-bottom: 1rem;
        }

        a{
            .linkStyle;

            &:hover{
                .linkHover;
            }
        }

        hr{
            margin: 1rem 0;
        }
    }

}



/* Forgot Password */

.forgot-password-form{
    border: 1px solid @accentColor;
    margin: @pageContainerAlingment;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    border-radius: 2rem;

    input[type ="text"]{
        .formBoxes;
        width: 12rem;
    }

    form{
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    

        input[type ="submit"]{
            .mainButton;
            padding: 0.5rem 1rem;
        }

        a{
            .linkStyle;

            &:hover{
                .linkHover;
            }
        }

        hr{
            width: 100%;
            margin: 1rem;
        }
    }

}


/*Sucess */

.success-page{
    width: 50%;
    margin: @pageContainerAlingment;
    text-align: center;

    h1{
        margin-bottom: 5rem;
        font-size: 5rem;
    }

    a{
        .mainButton;
        padding: 1rem 5rem;
        
    }
}