
*{
    box-sizing: border-box;
}

body{
    margin: 0;
}

h1{
    font-size: 2em;
    margin: 0.67em
}

h2{
    font-size: 1.5em; 
    margin: .75em 
}

h3{
    font-size: 1.17em; 
    margin: .83em
}


h4{
    font-size: 1em;
    margin-bottom: 1rem;
}

h5{
    font-size: 0.875em
}

h6{
    font-size: 0.8125em;
}

.container{
    margin: 0 auto;
    height: 100vh;
    box-sizing: border-box;
}

/*sign up*/

.cover{
    height: 100vh;
    width: 100vw;
    min-width: 100%;
    min-height: 100%;
    position: relative;
}

.cover::before {
    background-image: url('/assets/images/background-image.jpg');
    background-size: cover;
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
    opacity: 0.4;
    }

.site-header{
    padding: 1rem 2rem;
}



.sign-up-page{
    padding-top: 10rem; 
}

.sign-up-page-header{
    text-align: center;
    padding-top:2rem;
    box-shadow: 2rem;  
}

.sign-up-form{
    background-color: white;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    width: 50%;
    margin: 5rem auto 2rem auto;
}



.sign-up-form input{
    border: 1px solid @accentColor;

    &[type="text"],&[type="email"], &[type="submit"]{
        .formBoxes;
        width: 18rem;  
    }

    &[type ="password"]{
        margin-left: 1.5rem;
    }

    &[type ="username"], &[type ="password"]{
        margin-bottom: 1rem;
    }

    }

  .sign-up-form form a{
    .mainButton;
    margin-left: 3rem;

    &:hover{
        .mainButtonHover;
    }
}


.login-button{
    width: 100%;
    display: flex;
    justify-content: center;
}

.login-button a{
    background-color: @navColor;
    border-radius: 2rem;
    width: 10%;
    padding: 0.5rem 2rem;
    margin: 0 auto;
    text-align: center;
    color: @navigationBackgroundColor;

    @media @tablet{
        width: 15%;
    }

    &:hover{
        background-color: @navigationBackgroundColor;
        color: white;
    }

}


/* log-in page */

.log-in-page{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row-reverse;

    .log-in-page-image{
        width: 30%;
        img{
            width: 100%;
        }
    }

    .log-in-form{
        width: 40%;
        border: 1px solid @accentColor;
        border-radius: 2rem;
        margin: 2rem 0;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 2rem;

        input[type ="text"], input[type ="password"]{
            .formBoxes;
            width: 10rem;
            text-align: center;
            margin: 1rem;
        }

        input[type ="submit"]{
            width: 10rem;
            .mainButton;
            display: block;
            margin-left: 1.2rem;
            margin-bottom: 1rem;
        }

        .button{
            .mainButton;
            margin-bottom: 1rem;
            width: 8rem;
            margin-left: 2rem;

            &:hover{
                .mainButtonHover
            }
        }

        a{
            .linkStyle;

            &:hover{
                .linkHover;
            }
        }

        hr{
            margin: 1rem 0;
        }
    }

}




/* Forgot Password */


.forgot-password-form{
    border: 1px solid @accentColor;
    margin: @pageContainerAlingment;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    border-radius: 2rem;

    @media @tablet{
       margin-top: 25%;
    }

    .forgot-password-image{
        width: 8rem;
        height: 8rem;
        margin: 1rem;

        img{
            width: 100%;
            height: 100%;
        }
    }

    input[type ="text"]{
        .formBoxes;
        width: 12rem;
    }

    form{
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    

        input[type ="submit"]{
            .mainButton;
            padding: 0.5rem 1rem;
        }

        a{
            .linkStyle;

            &:hover{
                .linkHover;
            }
        }

        hr{
            width: 100%;
            margin: 1rem;
        }
    }

    .button{
        .mainButton;

        &:hover{
            .mainButtonHover
        }
    }

}


/* Success */

.success-page{
    width: 50%;
    margin: @pageContainerAlingment;
    text-align: center;

    @media @tablet{
        margin-top: 40%;
    }

    h1{
        margin-bottom: 5rem;
        font-size: 5rem;
    }

    a{
        border: 1px solid @navigationBackgroundColor;
        border-radius: 2rem;
        color: white;
        background-color: @navigationBackgroundColor;
        padding: 1rem 5rem;
        
        &:hover{
            .mainButtonHover;
        }
    }
}



/*profile */

.site-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    background-color: @navigationBackgroundColor;

    header{
        width: 30%;

        @media @tablet{
            width: 35%;
        }

        a{
            color: @navColor;
            text-decoration: none;
           
        }
    }

    nav{
        width: 60%;

        @media @tablet{
            width: 65%;
        }
    }
}


.page-nav {


    ul li{
        width: 30%;


        a{
            text-decoration: none;

            &:hover{
                text-decoration: underline;
            }
        }
    }

    &.navTwo{

        .friend{
            @media @tablet{
                padding: 0 1rem;
            } 
        }
        
    }

    .friend{
    padding: 0.5rem 4rem 0.5rem 0;
    background-color: white;

    @media @tablet{
        padding: 0;
    }
  
    span{
        margin-left: 2rem;
        color: @accentColor;

        @media @tablet{
            margin-left: 0;
            padding-right: 0.5rem;
        }
    }

    img{
        width: 1rem;
        margin: 0 1rem;

        @media @tablet{
            width: 0.5rem;
        }
     
    }

}
    
}



.profile-body{
    max-width: 95%;
    margin: @pageContainerAlingment;
    display: flex;
    justify-content: space-evenly;

    @media @tablet{
        margin-top: 20%;
    }

}

.bio{
    width: 30%;
    text-align: center;


    .profile-image{
        background: linear-gradient(red, orange, purple);
        // height: 40%;
        // width: 50%;
        width: 10rem;
        height: 10rem;
        margin: 2rem auto;
        border-radius: 10rem;
        display: flex;
        justify-content: center;
        align-items: center;

        img{
            border: 3px solid white;
           width: 95%;
           height: 95%;
           border-radius: 6rem; 
        }
    }
    h4,p{
        text-align: center;
    }

    p{
        margin: 1rem;
    }
}


.passports{
    width: 50%;
    text-align: center;

    .stats{
        margin-top: 2rem;
        width: 100%;
        display: flex;
        justify-content: space-evenly;

    }


    ul li {
        border: 1px solid @navigationBackgroundColor;
        margin: 2rem;
        padding: 1.5rem;
        text-align: left;
    
        
        img{
            width: 1rem;
            margin-right: 3rem;
            
        }


        a{
            color: black;
            text-decoration: none;

            &:hover{
                .linkHover;
            }
        }
        
    }
}


.add-passport{
    .addButton;

    img{
        width: 100%;
    }
}

/*friend*/

.friend-passport{

    ul li{
        text-align: center;
    }
}


/* location-lagos */

.passport-body{
    max-width: 80%;
}

.passport-body-header{
    border: 1px solid @navigationBackgroundColor;
    text-align: center;
    margin: 1rem auto;
    padding: 1rem;
    width: 40%;

}

.features{
    width: 80%;
    margin: 3rem auto;
    text-align: right;
    padding: 0 1rem;

    a{
        text-decoration: none;
        padding: 0.5rem 2rem;
        border-radius: 1rem;
        color: white;
        background-color: @navigationBackgroundColor;

        &:hover{
            color: @navigationBackgroundColor;
            background-color: white;
            border: 1px solid @navigationBackgroundColor;
        }
    }
}

.passport-body{
    margin: @pageContainerAlingment;
    margin-top: 5%;


    .passport-body-content{
        margin: 3rem 2rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100px;
    

        .restaurant-name{
            width: 40%;
            font-size: 2rem;
            text-align: center;

            a{
                color: black;
                text-decoration: none;

                &:hover{
                    .linkHover;
                }
            }
        }

        .visit-badge, .save-badge, .review-badge, .delete-badge{
            width: 10%;
            height: 100%;
            display: flex;
            align-items: center;

            img{
                width: 30%;
                
            }
        }

    }

}


.add-restaurant{
    .addButton;
    img{
        width: 30%;
    }
}



/*Cactus Page */

.restaurant-page-header{
    margin: @pageContainerAlingment;
    margin-bottom: 3%;
    width: 70%;
    text-align: center;
}

.restaurant-body{
    border: 1px solid @navigationBackgroundColor;
    display: flex;
    width: 70%;
    margin: 5rem auto;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 2rem;

    @media @tablet{
        flex-direction: column;
        border: none;
        margin: 0 auto;
    }

    h3{
        margin-bottom: 1rem;
        text-align: center;

        @media @tablet{
            border: 1px solid @navigationBackgroundColor;
            border-radius: 2rem;
        }
    }

    .restaurant-bio{
        width: 40%;

        @media @tablet{
            width: 100%;
            padding: 0 2rem;
        }
    }
    .restaurant-menu{
        width: 50%;
        padding: 2rem 8rem;

        @media @tablet{
            height: 70%;
            width: 100%;
        }

    }
}



/* New Passport a*/

.new-passport-body{
    width: 80%;
    margin: @pageContainerAlingment;
    text-align: center;
    

    .new-passport-form{
        margin: 3rem auto;
        width: 80%;
        border: 1px solid @navigationBackgroundColor;
        padding: 2rem;
        border-radius: 2rem;

       

        .restaurant{
            width: 50%;
            margin: 0 auto;

            a{
                color: black;
                text-decoration: none;

                &:hover{
                    .linkHover;
                }
            }


        }

        .button{
            .mainButton;
            margin-bottom: 1rem;
            width: 8rem;
            margin: 1rem auto;

            &:hover{
                .mainButtonHover
            }
        }

    }
}

.questions{



    label{
        display: block;
        color: @accentColor;
    }

    
}

textarea,select{
    @media @tablet{
        border: 1px solid @accentColor;
        width: 100%;
    }
}


/* New restaurant */



.new-restaurant-form{
    margin: 4rem auto;
    width: 50%;
    text-align: left;
    border: 1px solid @navigationBackgroundColor;
    border-radius: 2rem;

    @media @tablet{
        width: 90%;
    }

    label[for ="restaurantChoice"] h4{
        margin: 2rem 1rem;
    }

    .restaurant{
        width:40%;
        margin: 0 auto;
        padding: 0.5rem 0;

        a{
            .linkStyle;
            color: black;

            &:hover{
                .linkHover
            }
        }

    }

    .button{
        .mainButton;
        margin-bottom: 1rem;
        width: 8rem;
        margin: 1rem auto;

        &:hover{
            .mainButtonHover
        }
    }


}



/*review */

.restaurant-review{
    padding: 2rem;
    // display: flex;
    // justify-content: space-between;
    // align-items: center;

    .questions{
        width: 80%;
        text-align: center;
        margin: 1rem auto;
        padding: 1rem;

        label{
            margin: 1rem;

        }
    }

    .review{
        width: 50%;
    }

    .button{
        .mainButton;
        margin: 3rem auto;
        width: 8rem;
       

        &:hover{
            .mainButtonHover
        }
    }


    .answer{
        width: 80%;
        text-align: center;
        margin: 0 auto;
        padding: 1rem;

        h5{
            color: @accentColor;
        }

        p{
            border: 1px solid @navigationBackgroundColor;
            border-radius: 2rem;
            padding: 1rem;
            width: 80%;
            margin: 1rem auto;
        }
    }
}

/*footer */

footer{
    border-top: 0.5px solid @accentColor;
    padding: 1rem;
    width: 100%;
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    align-items: center;
    
    @media @tablet{
        padding:2rem 0;
    }

    .footer-links{
        width: 60%;

        @media @tablet{
            width: 47%;     
        }
        
        a{
            .linkStyle;
            padding: 2rem;

            @media @tablet{
                padding: 0 ;
                margin-right: 2rem;  
            }

            &:hover{
                .linkHover;
            }
        }
    }

    p{
        width: 35%;
        color: @accentColor;

        @media @tablet{
            width: 50%;
            text-align: center;
        }

    }

    &.relative-footer{
        position: relative;
    }

}

