

.formBoxes{
    display: block;
    margin: 1rem 0;
    border: 1px solid @accentColor;
    text-align: center;
}

.mainButton{
    padding: 0.5rem;
    border-radius: 2rem;
    background-color: @navigationBackgroundColor;
    border: @navigationBackgroundColor;
}

.linkStyle{
    color: @accentColor;
    text-decoration: none;
}

.linkHover{
    color: @navigationBackgroundColor;
}