
.page-nav{
    width: 70%;
    text-align: right;
    flex-grow: 1;

    @media @mobile{
        width: 100%;
    }

    ul li{
        display: inline;
        margin-left: 5rem;
        color: @accentColor;
        width: 30%;

        @media @tablet{
            display: inline;
            text-align: center;
            padding: 1rem;
            margin: 0;
        }

        @media @mobile{
            display: block;
            width:100%;
            text-align: center;
            padding: 1rem;
            margin: 0;
        }

        a{
            text-decoration: none;

            &:hover{
                text-decoration: underline;
            }
        }

        &.search{
            padding: 1rem 0 1rem 3rem;
            background-color: white;

            & a{
                margin-left: 2rem;
                padding: 1rem 1rem 1rem 1rem;

                img{
                    width: 1rem;
                }
            }
        }

        a{
            color: @navColor;

        }
    }

    &.navTwo{

        .friend{
            @media @tablet{
                padding: 0 1rem;
            } 
            @media @mobile{
                width: 60%;
                margin: 0 auto;
            }
        }
        
    }
}

